

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - pets</title>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/style6.css" />
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>

        body {
            background-image: url(../Img/interface2.jpg);
            height: 100vh;
            background-position: top center;
            background-size: cover;
        }

        .album-poster2 {
            position: relative;
            display: block;
            border-radius: 7px;
            width: 230px;
            height: 525px;
            overflow: hidden;
            box-shadow: 0 15px 35px #3d2173a1;
            transition: all ease 0.4s;
        }

            .album-poster2:hover {
                box-shadow: none;
                transform: scale(0.98) translateY(5px);
            }

            .album-poster2 img {
                width: 200px;
                height: 200px;
            }
    </style>
</head>
<body>
    <div align="center">
        <a href="#" class="btn btn-outline-light rounded-pill pl-5 pr-5" style="color: silver"><h2><strong>Usuario: </strong> @ViewBag.usurioLoged</h2></a>
        <br />

    </div>

    <div align="right">
        <h3><a href="/Home/RegistarMascota" class="btn btn-outline-success">Registrar mascota</a></h3>
    </div>


    <div class="container-fluid">

        <main class="tm-main">

            @foreach (var item in @ViewBag.mismascotas)
            {
                <div class="col-md-3" style="float:left">
                    <div class="album-poster2">

                        <div class="card mb-2">
                            <div style="color: blue" align="center">
                                <br />
                                <h3>@item.Nombre</h3>
                                <hr style="border-color:red;" />
                                <img src="~/images/@item.Imagen" style="border: silver 1px solid; border-radius: 12px" />
                            </div>


                            <div class="card-body">

                                <strong class="card-title"><b>Raza: </b>@ViewBag.raza[@item.IdRaza].Nombre</strong><br />
                                <strong class="card-title"><b>Especie: </b>@ViewBag.especie[@item.IdEspecie].Nombre</strong><br />

                                <strong class="card-title">
                                    @if (@item.EstadoAdoptivo == false)
                                    {
                                        <div style="color: forestgreen">
                                            <b>No está en adopción</b>
                                        </div>
                                        <br />
                                        <h3>
                                            <a href="/Home/PonerEnAdopccion?IdMascota=@item.Id" class="btn btn-primary">Poner en adopcion</a>

                                            <a href="#popup"><i class="fa fa-plus"></i>Poner en adopcion</a>
                                        </h3> }
                                    else
                                    {
                                        <div style="color: darkred">
                                            <b>Está en adopción</b>
                                        </div>
                                        <br />
                                        <h3><a href="/Home/SacarDeAdopcion?IdMascota=@item.Id" class="btn btn-secondary">Sacar de adopcion</a></h3>}
                                </strong>
                            </div>

                        </div>

                    </div>
                </div>

            }

</main>
        </div>



</body>
</html>
